{% extends "base.html" %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Create Event | Campus EventHub</title>
</head>
<body>
    <h2>Create New Event</h2>

    <form method="POST">
        <label>Event Title:</label><br>
        <input type="text" name="title" required><br><br>

        <label>Description:</label><br>
        <textarea name="description" required></textarea><br><br>

        <label>Department:</label><br>
        <input type="text" name="department" placeholder="CSE / ECE / ALL" required><br><br>

        <label>Date:</label><br>
        <input type="date" name="date" required><br><br>

        <label>Venue:</label><br>
        <input type="text" name="venue" required><br><br>

        <label>Is Paid Event?</label><br>
        <select name="is_paid">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select><br><br>

        <label>Fee (₹):</label><br>
        <input type="number" name="fee" value="0"><br><br>

        <button type="submit">Create Event</button>
    </form>

    <br>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</body>
</html>



{% endblock %}
